@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tourist Booking Platform</h1>
	<p class="lead">Your one-stop solution for booking tours and events.</p>
	<p>Explore our wide range of tours and events tailored just for you.</p>
	<a class="btn btn-primary" asp-area="" asp-controller="Events" asp-action="Index">View Events</a>
	<a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
</div>
